body {
  background-color: white;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.head {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 19px;
  font-weight: bolder;
}

.container {
  display: flex;
  height: 100vh;
}

.data-container {
  width: 75vw;
  height: 100vh;
  margin-left: 16vw;
  align-items: flex-end;
  display: flex;
  position: absolute;
}

.bar {
  background-color: rgb(0, 183, 255);
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  flex: 1 1 0%;
  transition: all 300mx ease-in-out 0s;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  align-items: center;
}

.button1 {
  padding: 12px;
  font-weight: bolder;
  background-color: grey;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  border: white;
}

.sidenav {
  height: 100%;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.wrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 8vh;
}

.newArray {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-select {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
}

.startSort {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.bottomWrapper {
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.sidenav span {
  margin-left: 1rem;
  margin-top: 1vh;
}

.slider {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1vh;
}

.start-button-wrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 4vh;
}
