body {
  background-color: #645440;
  color: white;
  font-family: "Bungee Spice", cursive;
  height: 100%;
  overflow: hidden;
}

.head {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius: 19px;
  font-weight: bolder;
}

.container {
  display: flex;
  height: 100vh;
  flex: 1;
  justify-content: space-between;
}

.sidenav {
  flex: 1;
  height: 100%;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #312420;
  overflow-x: hidden;
  padding-top: 60px;
}

.data-container {
  padding-left: 25vw;
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  position: absolute;
}

.bar {
  background-color: #c8161e;
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  flex: 1 1 0%;
  transition: all 300mx ease-in-out 0s;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border: 1px solid #efe1bd;
}

.wrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 8vh;
}

.newArray {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #efe1bd;
}

.form-select {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
  border-radius: 5px;
  background-color: #efe1bd;
}

.startSort {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #efe1bd;
}

.bottomWrapper {
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.sidenav span {
  margin-left: 1rem;
  margin-top: 1vh;
}

.slider {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1vh;
}

.start-button-wrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 4vh;
}
